<!DOCTYPE html>
<html>
  <head>
    <title>davidnormo blog</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="theme-color" content="#333333" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <style>
     @font-face {
        font-family: "Consolas";
        src: url("/Consolas.ttf"), format("truetype");
        font-weight: normal;
        font-style: normal;
      }
      html {
        font-size: 15px;
      }
      body {
        box-sizing: border-box;
        word-wrap: break-word;
        font-family: Trebuchet MS;
        font-size: 1em;
        line-height: 1.6em;
        padding: 20px;
        background: #fcfcfc;
        color: #333;
        max-width: 700px;
        margin: 0 auto;
      }
      a {
        color: #333;
      }
      h1,
      h2 {
        font-family: Garamond, Bookman, Georgia;
      }
      h1 {
        font-size: 2em;
        line-height: 1em;
        font-weight: normal;
      }
      a:has(h1) {
        text-decoration: none;
      }
      h2 {
        font-size: 1.7em;
        line-height: 1em;
        font-weight: normal;
      }
      h3 {
        margin-top: 2em;
      }
      li {
        margin: 0.5em 0;
      }
      .title a {
        font-size: 2.5em;
        line-height: 1em;
        font-weight: bold;
        color: inherit;
      }
      .description {
        font-size: 0.9em;
        font-style: italic;
        line-height: 0.3em;
        margin-bottom: 20px;
      }
      pre {
        font-size: 13px!important;
      }
      pre code {
        padding: 0;
      }
      *:not(pre) > code {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        padding: 4px 3px 2px 3px;
        border-radius: 5px;
        background: #e5e5e5;
      }
      blockquote {
        border-left: 5px solid #ddd;
        padding-left: 20px;
        margin: 40px 10px;
        font-style: italic;
      }
      details {
        border: 1px solid #ccc;
        background: #f0f0f0;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        margin: 10px 0;
      }
      @media (max-width: 400px) {
        body {
          max-width: 100%;
          width: 100%;
          line-height: 1.4em;
        }
        * {
          word-break: break-word;
        }
        img {
          width: 100%;
        }
      }
    </style>
    <meta property="og:image" content="/img/david-normington.jpeg" />
  </head>
  <body>
    <a href="https://davidnormo.github.io/"><h1>Dave Normington</h1></a>
    <p>UI Software Engineer & Christian</p>
    <div id="content">{{ content | safe }}</div>
    {% if page.fileSlug %}
    <script src="https://utteranc.es/client.js" repo="davidnormo/davidnormo.github.io" issue-term="pathname" theme="github-light" crossorigin="anonymous" async></script>
    {% endif %}
  </body>
</html>
