<!DOCTYPE html>
<html>
<head>
  <title>blog</title>
  <style>body { font-family: "Lucida Console", Monaco, monospace; }</style>
  <!-- {{styles}} -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51391788-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-51391788-2');
  </script>
</head>
<body class="f9 b9">
  {{content}}
  <!-- {{footer}} -->
</body>
</html>
